[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Muriel627
	email = 160170203+Muriel627@users.noreply.github.com
[safe]
	directory = D:/dotfiles
